@{
    ViewData["Title"] = "Contact Us";
}




<!-- PRELOADER SPINNER
============================================= -->
<div id="loader-wrapper">
    <div id="loader"><div class="cssload-box-loading"></div></div>
</div>




<!-- PAGE CONTENT
============================================= -->
<div id="page" class="page">







    <!-- INNER PAGE WRAPPER
    ============================================= -->
    <div class="inner-page-wrapper">




        <!-- CONTACTS PAGE HERO
        ============================================= -->
        <section id="contacts-page" class="page-hero-section division">
            <div class="container">
                <div class="row">


                    <!-- PAGE HERO TEXT -->
                    <div class="col-md-7">
                        <div class="hero-txt white-color">
                            <h2 class="h2-xs">Get In Touch</h2>
                        </div>
                    </div>	<!-- END PAGE HERO TEXT -->


                </div>    <!-- End row -->
            </div>	   <!-- End container -->
        </section>	<!-- END CONTACTS PAGE HERO -->
        <!-- BREADCRUMB
        ============================================= -->
        <div id="breadcrumb" class="bg-darkblue division">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb white-color">
                                <li class="breadcrumb-item"><a href="demo-1.html">&#91; Home &#93;</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>  <!-- End row -->
            </div>	<!-- End container -->
        </div>	<!-- END BREADCRUMB -->
        <!-- CONTACTS-4
        ============================================= -->
        <section id="contacts-4" class="bg-lightgrey wide-100 contacts-section division">
            <div class="container">


                <!-- SECTION TITLE -->
                <div class="row">
                    <div class="col-md-12 section-title center">

                        <!-- Title -->
                        <h2 class="h2-xs">Have Questions? Get in Touch</h2>

                        <!-- Text -->
                        <p class="p-md">
                            Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat,
                            felis lacinia risus interdum auctor id viverra dolor iaculis luctus placerat and massa
                        </p>

                    </div>
                </div>	 <!-- END SECTION TITLE -->


                <div class="row">


                    <div class="col-lg-5">
                        <div class="contact-boxes">


                            <!-- LOCATION -->
                            <div class="contact-box icon-xs clearfix mb-25">

                                <!-- Icon -->
                                <div class="contact-box-icon"><span class="flaticon-240-placeholder"></span></div>

                                <!-- Text -->
                                <div class="contact-box-txt">
                                    <h5 class="h5-sm deepblue-color">95, Point Pedro Road</h5>
                                    <h5 class="h5-xs deepblue-color"> Jaffna</h5>
                                    <p class="grey-color">Our Location</p>
                                </div>

                            </div>


                            <!-- PHONES -->
                            <div class="contact-box icon-xs clearfix mb-25">

                                <!-- Icon -->
                                <div class="contact-box-icon"><span class="flaticon-172-telephone-1"></span></div>

                                <!-- Text -->
                                <div class="contact-box-txt">
                                    <h5 class="h5-sm deepblue-color">P: +94 2143 00327</h5>
                                    <p class="grey-color">Let's Talk</p>
                                </div>

                            </div>


                            <!-- EMAIL -->
                            <div class="contact-box icon-xs clearfix">

                                <!-- Icon -->
                                <div class="contact-box-icon"><span class="flaticon-235-mail"></span></div>

                                <!-- Text -->
                                <div class="contact-box-txt">
                                    <h5 class="h5-xs deepblue-color"><a href="mailto:dotcircle.024@gmail.com">dotcircle.024@gmail.com</a></h5>
                                    <p class="grey-color">Drop a Line</p>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- CONTACT FORM -->
                    <div class="col-lg-7">
                        <div class="form-holder">
                            <form name="contactForm" class="row contact-form">

                                <!-- Contact Form Input -->
                                <div id="input-name" class="col-lg-12">
                                    <input type="text" name="EmailToName" class="form-control name" placeholder="Enter Your Name*" required>
                                </div>
                                <!-- Contact Form Input -->
                                <div id="input-email" class="col-lg-12">
                                    <input type="text" name="Tel" class="form-control mobile" placeholder="Enter Your mobile*" required>
                                </div>

                                <!-- Contact Form Input -->
                                <div id="input-email" class="col-lg-12">
                                    <input type="text" name="EmailToId" class="form-control email" placeholder="Enter Your Email*" required>
                                </div>

                                <div id="input-subject" class="col-lg-12 input-subject">
                                    <select id="inlineFormCustomSelect2" name="Course" class="custom-select course" required>
                                        <option value="">Select Country</option>
                                        <option>Malaysia</option>
                                        <option>Singapore</option>
                                        <option>Uk</option>
                                        <option>Australia</option>
                                        <option>Malta</option>
                                    </select>
                                </div>

                                <!-- Contact Form Select -->
                                <div id="input-subject" class="col-lg-12 input-subject">
                                    <select id="inlineFormCustomSelect2" name="Qualification" class="custom-select qualification" required>
                                        <option value="">Your Qualification</option>
                                        <option>O/L</option>
                                        <option>A/L</option>
                                        <option>HND </option>
                                        <option>Undergraduates</option>
                                    </select>
                                </div>

                                <!-- Contact Form Mesaage -->
                                <div id="input-message" class="col-lg-12 input-message">
                                    <textarea class="form-control message" name="EmailBody" rows="6" placeholder="Your Message ..." required></textarea>
                                </div>

                                <!-- Contact Form Button -->
                                <div class="col-lg-12 mt-15 form-btn">
                                    <button type="submit" class="btn btn-primary tra-black-hover submit">Send Your Message</button>
                                </div>

                                <!-- Contact Form Message -->
                                <div class="col-lg-12 contact-form-msg text-center">
                                    <div class="sending-msg"><span class="loading"></span></div>
                                </div>

                            </form>
                        </div>
                    </div>	 <!-- END CONTACT FORM -->


                </div>    <!-- End row -->
            </div>	   <!-- End container -->
        </section>	<!-- END CONTACTS-4 -->
        <!-- GOOGLE MAP
        ============================================= -->
        <div class="map bg-lightgrey division">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="gmap" class="gmap"></div>
                    </div>
                </div>
            </div>
        </div>








    </div>	<!-- END INNER PAGE WRAPPER -->




</div>	<!-- END PAGE CONTENT -->
@*<script type="text/javascript">
        function submitStudent() {
            var data = $("#contactForm").serialize();
            console.log(data);
            alert(data);
            $.ajax({
                type: 'POST',
                url: '/Home/SendStudent',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                data: data,
                success: function (result) {
                    alert('Successfully received Data ');
                    console.log(result);
                },
                error: function () {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
            })
        }

    </script>*@